* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

a {
  text-decoration: none;
}

img {
  border: none;
}

ol,
ul,
dl,
li {
  list-style: none;
}

em,
i {
  font-style: normal;
}

input,
button {
  outline: none;
  border: none;
  background: transparent;
}
